@{
}

@model Book

<div class="card m-1 p-1">
    <div class="card-header">
        <h4>
            @Model.Title
        </h4>
    </div>
    <div class="card-body">
        <ul>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>ISBN: @Model.Isbn</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
            <li>Page Count: @Model.PageCount</li>
            <li>Price: @Model.Price.ToString("C")</li>
        </ul>
    </div>
</div>