@{
    ViewData["Title"] = "Books";
}

@model Mission11.Models.ViewModels.BooksListViewModel

<h1>Books</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification</th>
        <th>Category</th>
        <th>Page Count</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Publisher</td>
            <td>@book.Isbn</td>
            <td>@book.Classification</td>
            <td>@book.Category</td>
            <td>@book.PageCount</td>
            <td>@book.Price.ToString("C")</td>
        </tr>
    }
    </tbody>
</table>

<div page-model="@Model.PaginationInfo" page-action="Index"></div>